<?xml version="1.0" ?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Autonomy Portal-in-a-Box</display-name>
    <description>
    	Interface to Autonomy's IDOL
    </description>

    <context-param>
      <param-name>ConfigLocation</param-name>
      <param-value>D:\autonomy-apache-tomcat-6.0.32\webapps\demo\configuration</param-value>
    </context-param>

    <session-config>
      <session-timeout>30</session-timeout>    
    </session-config>

    <welcome-file-list>
			<welcome-file>/user/home/home.jsp</welcome-file>
    </welcome-file-list>
    
    <error-page>
    	<exception-type>com.autonomy.portal4.ConfigNotReadException</exception-type>
    	<location>/errors/configNotReadException.jsp</location>
    </error-page>
    <error-page>
    	<exception-type>com.autonomy.portal4.ServerNotFoundException</exception-type>
    	<location>/errors/serverNotFoundException.jsp</location>
    </error-page>
    <error-page>
    	<exception-type>com.autonomy.portal4.NotLicensedException</exception-type>
    	<location>/errors/notLicensedException.jsp</location>
    </error-page>
    <error-page>
    	<exception-type>java.io.UnsupportedEncodingException</exception-type>
    	<location>/errors/unsupportedEncodingException.jsp</location>
    </error-page>
    <error-page>
    	<exception-type>java.lang.Throwable</exception-type>
    	<location>/errors/exception.jsp</location>
    </error-page>

</web-app>
