body {
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
	background-color: #DAE9F6;
	line-height: 22px;
}
.top {
	height: 86px;
	width: 100%;
	background-image: url(../images/bg.jpg);
	background-repeat: repeat;
	margin-bottom: 20px;
}
.search {
	height: auto;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	border: 1px solid #9FC3E6;
	display: table;
	clear: both;
}
.search_d {
	height: auto;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
	display: table;
	clear: both;
}
.touying {
	background-image: url(../images/bg_touying.jpg);
	background-repeat: repeat-x;
	height: 4px;
	width: 96%;
	margin-right: auto;
	margin-left: auto;
}

.touying_r {
	background-image: url(../images/bg_touying.jpg);
	background-repeat: repeat-x;
	height: 4px;
	width: 100%;
}
.search_div {
	height: 150px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 30px;
	padding-left: 100px;
	color: #333333;
}
.search_l select {
	color: #666666;
}

.form {
	margin: 0px;
}

.button {
	background-image: url(../images/search.jpg);
	height: 26px;
	width: 71px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	float: left;
}
.textfield {
	float: left;
	height: 22px;
	width: 420px;
	border: 1px solid #9FC3E6;
	margin-right: 8px;
	background-color: #EBF2F7;
	line-height: 22px;
}
.search_l {
	line-height: 35px;
	height: 35px;
}
.left {
	float: left;
	width: 95%;
	background-color: #FFFFFF;
	border: 1px solid #9FC3E6;
	padding-top: 10px;
	padding-left: 5%;
	padding-bottom: 10px;
}
.left h1{
	font-size: 14px;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0px;
	padding: 0px;
}
.left ul{
	padding: 0px;
	font-size: 12px;
	line-height: 1.5em;
	list-style-type: none;
	margin: 0px;
}
.left ul li ul{
	padding: 0px;
	font-size: 12px;
	line-height: 1.5em;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 30px;
	display: none;
}
.left li{
	margin: 0px;
	padding: 0px;
	font-size: 12px;
	line-height: 1.5em;
	list-style-type: none;
}
.left li img{
	margin-right: 10px;
}
.left_w {
	float: left;
	height: auto;
	width: 19%;
}
.right {
	float: right;
	width: 99%;
	background-color: #FFFFFF;
	border: 1px solid #9FC3E6;
	padding-top: 10px;
	padding-left: 1%;
	padding-bottom: 10px;
}
.right_w {
	float: right;
	width: 78%;
	height: auto;
}
.left_width {
	width: 150px;
	float: left;
}
.right_width {
	width: 600px;
	float: left;
}
.right dl,.right dt,.right dd {
	margin: 0px;
	padding-left: 1%;
}
.right dd {
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 15px;
	padding-left: 3%;
}
.right em {
	color: #008000;
	font-style: normal;
}
.right_news {
	background-color: #EBF2F7;
	font-size: 12px;
	line-height: 20px;
	margin-right: 1%;
	text-indent: 10px;
}
.right_page {
	line-height: 24px;
	text-indent: 10px;
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 5px;
	font-size: 12px;
}
.right_page a:link,.right_page a:visited {
	text-decoration: none;
	color: #333333;
}
.right_page a:hover {
	color: #FF6600;
	text-decoration: none;
}
.right_page input {
	margin-left: 50px;
}
.text {
	font-size: 12px;
}
