BODY {
	FONT-SIZE: 12px; MARGIN: auto; COLOR: #777778
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
A {
	FONT-SIZE: 13px; TEXT-DECORATION: none
}
#box {
	MARGIN: auto; WIDTH: 910px
}
.top {
	BACKGROUND: url(top_bg.jpg) no-repeat; WIDTH: 910px; HEIGHT: 33px
}
.top_td1 {
	PADDING-LEFT: 12px; FONT-SIZE: 12px; COLOR: #fff
}
.top_td2 {
	PADDING-RIGHT: 20px
}
A.top_nav:link {
	FONT-SIZE: 12px; COLOR: #000; TEXT-DECORATION: none
}
.top A:visited {
	COLOR: #000
}
.Gap {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #ffffff; PADDING-TOP: 0px
}
.Nav .nav_top {
	BACKGROUND: url(menu_mid.gif) repeat-x; FLOAT: left; MARGIN: 10px 0px; WIDTH: 910px; HEIGHT: 37px
}
.Nav .nav_top LI {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; BACKGROUND: url(pic_a.gif) no-repeat left center; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #ffe58c; LINE-HEIGHT: 37px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.Nav .nav_top LI A {
	FONT-WEIGHT: bold; COLOR: #fe0000
}
.Nav .nav_top .nav_l {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(menu_left.gif) no-repeat; PADDING-BOTTOM: 0px; WIDTH: 93px; PADDING-TOP: 0px; HEIGHT: 37px
}
.Nav .nav_top .nav_r {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: no-repeat; FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.Nav .nav_bottom {
	BACKGROUND: url(nav2.jpg) repeat-x; FLOAT: left; WIDTH: 910px; HEIGHT: 30px
}
.Nav .nav_bottom LI A {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #f16d01; LINE-HEIGHT: 30px; PADDING-TOP: 0px
}
.Nav .nav_bottom LI A:hover {
	LINE-HEIGHT: 33px
}
.Nav .nav_bottom .nav_l {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 13px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #dec0c0; LINE-HEIGHT: 30px; PADDING-TOP: 0px
}
.Nav .nav_bottom LI INPUT {
	MARGIN-TOP: 5px; DISPLAY: inline; PADDING-LEFT: 10px; FLOAT: left
}
.footer {
	CLEAR: both
}
.bottom {
	CLEAR: both; MARGIN-TOP: 10px; FLOAT: left
}
.bottom UL {
	BORDER-RIGHT: #93d9e2 1px solid; BORDER-TOP: #93d9e2 1px solid; BORDER-LEFT: #93d9e2 1px solid; WIDTH: 219px; BORDER-BOTTOM: #93d9e2 1px solid; TEXT-ALIGN: left
}
.bottom UL H2 {
	PADDING-LEFT: 10px; FONT-SIZE: 13px; BACKGROUND: url(bg1.gif) no-repeat; COLOR: #fff; LINE-HEIGHT: 22px; HEIGHT: 22px; TEXT-ALIGN: left
}
.bottom LI A {
	FONT-SIZE: 12px; MARGIN-LEFT: 10px; COLOR: #666666; LINE-HEIGHT: 20px
}
.td_n {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #372f6d
}
.content {
	CLEAR: both
}
.left {
	FLOAT: left
}
.right {
	FLOAT: right
}
.pro_ul {
	MARGIN-LEFT: 10px; LINE-HEIGHT: 18px
}
.RootName {
	PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 5px; COLOR: white; PADDING-TOP: 5px; BACKGROUND-COLOR: #845076
}
.TD_1 {
	BACKGROUND: url(002.gif) no-repeat 50% top; WIDTH: 493px; HEIGHT: 210px
}
.TD_1 P {
	MARGIN-TOP: 100px; MARGIN-LEFT: 120px; WIDTH: 330px; COLOR: #ad6446; LINE-HEIGHT: 20px
}
.TD_2 {
	BACKGROUND: url(003.gif) no-repeat right 50%; WIDTH: 493px; HEIGHT: 190px
}
.TD_2 P {
	WIDTH: 260px; COLOR: #ad6446; LINE-HEIGHT: 20px
}
.RegBox {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; FONT-SIZE: 12px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px; BACKGROUND-COLOR: #c5c5c5
}
.RegTrBox {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: #fffff3
}
.Button {
	BORDER-RIGHT: #a71044 1px solid; BORDER-TOP: #a71044 1px solid; FONT-SIZE: 12px; MARGIN: 0px; BORDER-LEFT: #a71044 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #a71044 1px solid; BACKGROUND-COLOR: #eb61fa
}
.login {
	CLEAR: both
}
.table_lh1 A {
	COLOR: #777778; LINE-HEIGHT: 24px
}
.table_lh1 A:hover {
	COLOR: #8a48c0
}
.Service1 {
	FONT-SIZE: 12px; COLOR: #9f6bc5; LINE-HEIGHT: 25px; TEXT-DECORATION: underline
}
.img_p {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; COLOR: #777778; LINE-HEIGHT: 20px; PADDING-TOP: 0px; LETTER-SPACING: 3px
}
.lefti {
	DISPLAY: inline; BACKGROUND: #ddf5ff; FLOAT: left; WIDTH: 179px
}
.dan {
	MARGIN-LEFT: 10px; COLOR: #ff0000; LINE-HEIGHT: 25px
}
.sev {
	
}
.sev LI A {
	FONT-SIZE: 12px; COLOR: #000; LINE-HEIGHT: 20px
}
.td_1 {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(img_a.gif) no-repeat; COLOR: #372f6d; HEIGHT: 33px
}
.pro_1 {
	HEIGHT: 235px
}
.pro_1 IMG {
	DISPLAY: inline; PADDING-LEFT: 10px; FLOAT: left
}
.right .cat {
	MARGIN-LEFT: 30px
}
.rec {
	PADDING-LEFT: 5px; LINE-HEIGHT: 25px
}
.rec LI A {
	COLOR: #777778
}
.pic_an {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; TEXT-INDENT: 3px; LINE-HEIGHT: 3px; PADDING-TOP: 0px; TEXT-ALIGN: left
}
.one {
	BACKGROUND: url(a1.gif) #9f4a25 no-repeat left 50%; WIDTH: 400px; HEIGHT: 112px
}
.TD_3 IMG {
	MARGIN: 10px 0px 0px 50px
}
.TD_3 P {
	FONT-WEIGHT: bold; MARGIN: 10px 0px 0px 50px; COLOR: #eabaa3; LINE-HEIGHT: 20px
}
.two {
	BACKGROUND: url(a2.gif) #ffa781 no-repeat left 50%; MARGIN: 10px 0px; WIDTH: 400px; HEIGHT: 112px
}
.two P {
	COLOR: #81452f
}
.three {
	BACKGROUND: url(a3.gif) #9f4a25 no-repeat left 50%; WIDTH: 400px; HEIGHT: 112px
}
.three P {
	COLOR: #f6efeb
}
.pro {
	BACKGROUND: url(pro_bg.gif) repeat-x; PADDING-BOTTOM: 20px; WIDTH: 910px; HEIGHT: 255px
}
.pic {
	BACKGROUND: url(x01.gif) no-repeat 50% top; HEIGHT: 490px; TEXT-ALIGN: left
}
.pic P {
	MARGIN-TOP: 80px; FLOAT: right; WIDTH: 500px; COLOR: #771e3a; TEXT-INDENT: 20px; LINE-HEIGHT: 20px
}
.pic DIV {
	BACKGROUND: url(paa.gif) repeat-x 50% bottom; FLOAT: left; WIDTH: 910px; HEIGHT: 300px; TEXT-ALIGN: center
}
.left_i IMG {
	FLOAT: left
}
.left_i P {
	MARGIN-TOP: 5px; DISPLAY: inline; FLOAT: right; WIDTH: 270px; COLOR: #000; TEXT-INDENT: 15px; LINE-HEIGHT: 20px
}
.ti {
	BACKGROUND: url(l7.gif) no-repeat left center
}
.ti P {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #4f4f4f; TEXT-INDENT: 20px; PADDING-TOP: 5px
}
.ti .p_1 {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 16px; PADDING-BOTTOM: 20px; COLOR: #ff3399; TEXT-INDENT: 0px; PADDING-TOP: 20px
}
.lb1 {
	BACKGROUND: url(l2.gif) repeat-y; MARGIN: 10px 0px; WIDTH: 910px; HEIGHT: 15px
}
.p_a {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; COLOR: #985b76; TEXT-INDENT: 20px; LINE-HEIGHT: 20px; PADDING-TOP: 150px
}
.p_b {
	PADDING-RIGHT: 0px; PADDING-LEFT: 240px; FONT-SIZE: 15px; PADDING-BOTTOM: 0px; WIDTH: 270px; COLOR: #985b76; TEXT-INDENT: 20px; LINE-HEIGHT: 20px; PADDING-TOP: 20px
}
.p_c {
	PADDING-LEFT: 30px; FONT-SIZE: 15px; WIDTH: 250px; COLOR: #985b76; TEXT-INDENT: 20px; LINE-HEIGHT: 20px
}
.G_top {
	PADDING-LEFT: 30px; FONT-WEIGHT: bold; FONT-SIZE: 18px; BACKGROUND: url(G_bg.gif) no-repeat; COLOR: #eb7c3a; HEIGHT: 33px
}
.B_l LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #825701; PADDING-TOP: 5px
}
.B_r LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; COLOR: #825701; PADDING-TOP: 5px
}
.B_r LI A {
	COLOR: #000
}
.B_l LI A {
	COLOR: #825701
}
.navh1 H1 {
	FONT-SIZE: 14px; COLOR: #000
}
